$font-lato: LATO, Helvetica, sans-serif;
$very-dark-gray-color: #333940;
$dark-gray-color: #333;
$gray-color: #494d52;
$medium-gray-color: #828282;
$medium-light-gray-color: #999;
$light-gray-color: #c6c6c6;
$very-light-gray-color: #f8f8f8;
$extra-light-grey: #eeeeef;
$secondary-medium-grey: #6e6e6e;
$secondary-light-grey: #888b8d;
//$off-white-color: #xxxxxx;
$white-color: #fff;
$black-color: #000;
$my-blue-color: #00b4d2;
$my-navy-color: #004261;
$my-green-color: #00ab84;
$my-purple-color: #b0008e;
$my-red-color: #e4002b;
$my-orange-color: #ff8f1c;
$my-gray-color: #53565a;
$my-light-gray-color: #888b8d;
$very-light-blue-color: #d0f1fa;
$light-blue-color: #42b3cf;
$dark-blue-color: #1b6c92;
$dark-blue: #337ab7;
$background-blue: #ebf7f9;
